  <div class="row">
     <div class="col-xs-4"></div>
     <div class="container col-xs-4 text-center">
          <form class="form-signin" method="post" action="pass.php">

                <h2 class="t_blanco">Please sign in</h2>

                <div class="input-group div-center">
                     <span class="input-group-addon"><i class="glyphicon glyphicon-user text-primary"></i></span>
                     <input type="text" id="inputText" class="form-control input-lg" placeholder="User" name="user1" required autofocus>
                </div>
          
                <p>&nbsp</p>
          
                <div class="input-group div-center">
                     <span class="input-group-addon"><i class="glyphicon glyphicon-lock text-primary"></i></span>
                     <input type="password" id="inputPassword" class="form-control input-lg" placeholder="Password" name="pass1" required>
                </div>

                <p>&nbsp</p>

                <div class="input-group div-center">
                    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
                </div>
         </form>
       </div> <!-- /container -->
       <div class="col-xs-4"></div>
   </div>
</div>
</body>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../js/bootstrap.min.js"></script>
</html>
